* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #b040ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-dark1);
    color: var(--color-white);
}

.header img {
    width: 45px; /*55*/
    height: 59px;
}

.header, .navigation_header {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--color-dark2);
    box-shadow: 1px 1px 4px var(--color-dark4);
    height: 4.5em;
    justify-content: space-between;
    padding: 0 10%;
}

.navigation_header {
    gap: 3em;
    z-index: 2;
}

.navigation_header a {
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
    position: relative;
}

.navigation_header a::after {
    content: ' ';
    width: 0%;
    height: 4px;
    background-color: var(--color-purple);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.navigation_header a:hover::after {
    width: 100%;
}


.content {
    text-align: center;
    padding-top: 5em;
    height: 100vh;
    transition: 1s;
}

.btn_icon_header {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .btn_icon_header {
        display: block;
    }
    .navigation_header {
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }

    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }
        top {
            margin-left: -10vw;
        }
    }
}